<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.min">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_circle"
        android:supportsRtl="true"
        android:theme="@style/Theme.Commands"
        tools:targetApi="31">
        <activity
            android:name=".DetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.min.ExplainActivity"
            android:exported="false" />
        <activity
            android:name="com.example.min.HomeActivity"
            android:exported="false" />
        <activity
            android:name="com.example.min.Login_signupActivity"
            android:exported="false" />
        <activity
            android:name="com.example.min.IntroductoryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>